In [ ]:
# For colab
!pip install polars

In [16]:
import polars as pl

In [17]:
comments = pl.read_csv('https://github.com/yardsale8/malone_concat_str_example/raw/main/form_output.csv')
comments

shape: (5, 3)
┌──────┬───────┬─────────────┐
│ Team ┆ Score ┆ Comments    │
│ ---  ┆ ---   ┆ ---         │
│ str  ┆ i64   ┆ str         │
╞══════╪═══════╪═════════════╡
│ N01  ┆ 78    ┆ Blah 1      │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ N01  ┆ 73    ┆ Blah 2      │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ U01  ┆ 54    ┆ Blah Blah 1 │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ U01  ┆ 62    ┆ Blah Blah 2 │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ U01  ┆ 68    ┆ Blah Blah 3 │
└──────┴───────┴─────────────┘

In [18]:
emails = pl.read_csv('https://github.com/yardsale8/malone_concat_str_example/raw/main/emails.csv')
emails

shape: (2, 2)
┌──────┬─────────────────┐
│ Team ┆ Email           │
│ ---  ┆ ---             │
│ str  ┆ str             │
╞══════╪═════════════════╡
│ N01  ┆ xyz@stjohns.edu │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ U01  ┆ abc@winona.edu  │
└──────┴─────────────────┘

In [19]:
pl.Config.set_fmt_str_lengths(128)

(comments
 .groupby('Team')
 .agg([pl.col('Score')
         .mean()
         .alias('Avg Score'),
       pl.col('Comments')
         .str.concat('; ')
         .alias('Comments'),
     ])
 .join(emails, on='Team')
)

shape: (2, 4)
┌──────┬───────────┬───────────────────────────────────────┬─────────────────┐
│ Team ┆ Avg Score ┆ Comments                              ┆ Email           │
│ ---  ┆ ---       ┆ ---                                   ┆ ---             │
│ str  ┆ f64       ┆ str                                   ┆ str             │
╞══════╪═══════════╪═══════════════════════════════════════╪═════════════════╡
│ N01  ┆ 75.5      ┆ Blah 1; Blah 2                        ┆ xyz@stjohns.edu │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ U01  ┆ 61.333333 ┆ Blah Blah 1; Blah Blah 2; Blah Blah 3 ┆ abc@winona.edu  │
└──────┴───────────┴───────────────────────────────────────┴─────────────────┘