#### Colab Setup

In [ ]:
!pip install pyensae

In [ ]:
!pip install jyquickhelper

In [ ]:
!wget https://github.com/yardsale8/malone_concat_str_example/raw/main/example.db

#### Example

In [1]:
%load_ext pyensae

In [3]:
%SQL_connect ./example.db

In [4]:
%SQL_tables

['emails', 'form_output']

In [7]:
%%SQL

SELECT
    Team,
    AVG(c.Score) AS 'Avg Score',
    GROUP_CONCAT(c.Comments,'; ') AS Comments,
    e.Email
FROM
    form_output c
LEFT JOIN emails e USING (Team)
GROUP BY
    Team

  Team  Avg Score                               Comments            Email
0  N01  75.500000                         Blah 1; Blah 2  xyz@stjohns.edu
1  U01  61.333333  Blah Blah 1; Blah Blah 2; Blah Blah 3   abc@winona.edu