<a href="https://colab.research.google.com/github/yardsale8/malone_concat_str_example/blob/main/concat_str_with_R_and_dplyr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
library(dplyr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [6]:
comments <- read.csv('https://github.com/yardsale8/malone_concat_str_example/raw/main/form_output.csv')
comments

  Team Score Comments
1 N01  78    Blah 1
2 N01  73    Blah 2
3 U01  54    Blah Blah 1
4 U01  62    Blah Blah 2
5 U01  68    Blah Blah 3

In [7]:
emails <- read.csv('https://github.com/yardsale8/malone_concat_str_example/raw/main/emails.csv')
emails

  Team Email
1 N01  xyz@stjohns.edu
2 U01  abc@winona.edu

In [11]:
( comments
  %>% group_by(Team)
  %>% summarise(`Avg Score` = mean(Score),
                Comments = paste0(Comments, collapse = "; "))
  %>% left_join(emails, by = 'Team')

)

  Team Avg Score Comments                              Email
1 N01  75.50000  Blah 1; Blah 2                        xyz@stjohns.edu
2 U01  61.33333  Blah Blah 1; Blah Blah 2; Blah Blah 3 abc@winona.edu